<body>
    
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3 text-center">Welcome to Kalashimala!</h1>
          <p class="lead text-center">A place where you can find unique and great variety of plant species!</p>
          <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
      </div>  
    <div class="container text-center">
    </div>  
</body>
